@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; altura do body em 100% do view high, altura maxima da tela */ 
    box-sizing: border-box; /* faz com que os filhos do body nao extrapolem o body, pesquisar sobre box-sizing */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0 0 15%;

}


.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.destaque-titulo {

    color: var(--cor-terciaria);
}

.apresentacao { /* pra conferir mais sobre pesquisar sobre flexbox */
    padding: 5% 15%;
    gap: 82px;
    display: flex; /* formata tudo que esta em apresentacao em caixas flex */
    align-items: center; /* alinha os itens da apresentacao em centro*/
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo  {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;

}

.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    /* align-items: baseline; */
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

/* .logos  {
    width: 32px;
    margin: 1%;

} */

.apresentacao__links__link:hover {
    background-color: var(--cor-hover) ;


}

.apresentacao__imagem {
    width: 50%;

}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;

}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10% ;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 5%;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }


}